*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.container{
    border: 3px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    border: 3px solid green;
    width: 700px;
    min-height: 60vh;
}

form{
    border: 3px solid green;
    height:60vh;
    padding: 50px;
}
form input{
    padding: 10px;
    width: 400px;
    height: 40px;
    outline: none;
    color: #0051ff;
    font-weight: 550;
    border: 1px solid #0051ff;
    border-radius: 5px;
    /* box-shadow: inset 0 4px 4px rgba(1, 57, 59, 0.1); */
}
.label1{
    position: absolute;
    margin: 10px;
    margin-left: -390px;
    background-color: #fff;
    padding: 0px 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}
#create:focus +.label1{
    transform: translateY(-20px);
    color: #0051ff;


}

/* .create:focus label1{
    transform: translate(200px 200px);

} */


.container h1{
    text-align: center;
    line-height: 80px;
    background-color: grey;
}
